{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "plugins": ["@prettier/plugin-tailwindcss"],
  "tailwindConfig": "./packages/config/tailwind.config.ts",
  "overrides": [
    {
      "files": ["*.json", "*.md"],
      "options": { "tabWidth": 2 }
    }
  ]
}

